*.jpg
*.txt
*.swp
*.o
*.model
tmp/*
DATA/*
origin_pic/*
result_pic/*
negative_pic/*
positive_pic/*
yale/*
pain_crops/*
peal/*
galleryset/*
positive_test/*
negative_test/*
pos_tmp/*
neg_tmp/*
bin/*
libsvm/*
.DS_Store
